
a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
a:active {
	color: black;
}
.navbar h2{
	color: #ec2828;
}
h2.brand{
	font-family: 'Anton', sans-serif;
	color:#e54c4c;
	transition: 0.6s;
	/* font-size: 50px; */
}
h2.brand:hover{
	color:#ec2828;
}
img.home-img{
	padding:0 20%;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: #ec2828;
}
a.nav-link {
	color:#e63232;
	font-size: 15px;
	margin: 0 10px;
}
a.nav-link:hover{
	color: black;
}
div.form-container{
	width:80%; 
	margin:15% auto;
}
.container-fluid	{
	padding-left: 0;
	padding-right: 0;
}
div.product-card p{
	margin: 40px 0;
}